<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
<style>
 div.jumbotron{
  	background:url("image/pp_mentai_TP_V1.jpg");
  	background-position:center center;
  	background-size: cover;

  	}
</style>
<title>Result</title>
</head>
<body>
<div th:replace="comhead :: header"></div>
<div class="contents">

<div class="container">
	<table class="table table-hover">
		<tr>
			<th>サムネ</th>
			<th>店名</th>
			<th>営業時間</th>
			<th>wifi</th>
		</tr>
		<tr th:each="element : ${result}">
			<td><a th:href="@{/Resultdetail(selectedValue=${selectedValue},selectedSA=${selectedSA},id=${element.getId()})}"><img th:src="*{element.getPhoto()}"/></a></td>
			<td><a th:href="@{/Resultdetail(selectedValue=${selectedValue},id=${element.getId()},selectedSA=${selectedSA})}" th:text="*{element.getName()}"></a></td>
			<td th:text="*{element.getOpen()}"></td>
			<td th:text="*{element.getWifi()}"></td>
		</tr>
	</table>
<div th:if="${bl}">
	<a th:href="@{/Formresult(selectedValue=${selectedValue},count=${count}-10,selectedSA=${selectedSA})}">前の10件</a>
</div>
<div th:if="${ch}">
	<a th:href="@{/Formresult(selectedValue=${selectedValue},count=${count}+10,selectedSA=${selectedSA})}">次の10件</a>
</div>
</div>
</div>
<div th:replace="comhead :: footer"></div>
</body>

</html>